#include "Shared.xcconfig"

VALID_ARCHS[sdk=macosx*] = x86_64
VALID_ARCHS[sdk=iphoneos*] = i386 x86_64 arm64 armv7s armv7
VALID_ARCHS[sdk=tvos*] = i386 x86_64 arm64 armv7s armv7

APPLICATION_EXTENSION_API_ONLY = YES

CURRENT_PROJECT_VERSION = 1

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
FRAMEWORK_VERSION = A

INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

VERSION_INFO_PREFIX =
VERSIONING_SYSTEM = apple-generic

