#include "Clang.xcconfig"
#include "Cocoa.xcconfig"
#include "GCC.xcconfig"

IPHONEOS_DEPLOYMENT_TARGET = 11.0
MACOSX_DEPLOYMENT_TARGET = 10.12
TVOS_DEPLOYMENT_TARGET = 11.0
WATCHOS_DEPLOYMENT_TARGET = 4.0

ALWAYS_SEARCH_USER_PATHS = NO

COMBINE_HIDPI_IMAGES = YES

COPY_PHASE_STRIP = NO

DEBUG_INFORMATION_FORMAT = dwarf

DEFINES_MODULE = YES

DEVELOPMENT_TEAM =

ENABLE_TESTABILITY = YES

FRAMEWORK_SEARCH_PATHS = $(inherited)

INFOPLIST_FILE = Source/Info.plist

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks

MTL_ENABLE_DEBUG_INFO = YES

ONLY_ACTIVE_ARCH = YES

SDKROOT = iphoneos

SKIP_INSTALL = YES

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_VERSION = 4.0.2

